[submodule "diffusion-pipe_framepack"]
	path = diffusion-pipe_framepack
	url = https://github.com/kabachuha/diffusion-pipe.git
[submodule "diffusion-pipe"]
	path = diffusion-pipe
	url = https://github.com/tdrussell/diffusion-pipe.git
