:root {
    --bg: white;
    --col: #27272a;
    --bg-dark: #0f0f11;
    --col-dark: #f4f4f5;
}

body {
    background: var(--bg);
    color: var(--col);
    font-family: Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
    body {
        background: var(--bg-dark);
        color: var(--col-dark);
    }
}


html {
    font-size: 14px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}